.text-wrap{
    word-break: normal;
    white-space: nowrap;
}
.text-break{
    word-break: normal !important;
    white-space: nowrap;
}
.table th {
    font-size: 12px;
}
.form-control {
    font-size: 12px;
    word-break: normal;
    white-space: nowrap;
}
#__BVID__33__dialog_ {
    word-break: normal;
    white-space: nowrap;
}
h2 {
    background-color:  WhiteSmoke;
    align: center
}
